vfb_connect
feather-format
pandas
numpy
requests
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
